<h1>HelloWorld</h1>
<form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div ngModelGroup="course">
        <div >

            <label for="courseName">
                Course Name
            </label>
            <input 
            required
             minlength="5"
             #courseName="ngModel"
             ngModel name="courseName"
             id="courseName"
             type="text"
             class="form-control">
                <div class="alert alert-danger"
                *ngIf="courseName.touched && !courseName.valid">
                Course Name is Required</div>
                 <div class="alert alert-danger"
                *ngIf="courseName.errors?.minlength">Minimum length should be 5</div>
        </div>

         <div class="form-group">
             <label for="courseList">Category</label>
             <select ngModel name="courseList" id="courseList" class="form-control">
                 <option *ngFor ="let course of courses" [value]="course.id">{{course.name}}</option>

             </select>
            </div>
            <div class="checkbox">
                <label for="">
                    <input ngModel name="isGuarantee" type="checkbox">30-day money back Guarantee
                </label>
            </div>
        <div>
            <button class="btn btn-primary" [disabled]="!f.valid">ADD</button>
            {{f.value| json}}
        </div>
    </div>
</form>
